* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none !important;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor {
    width: 3em;
    height: 3em;
    border: 2px solid #000000;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all .3s ease;
    transition-property: background, transform, filter;
    transform-origin: 100% 100%;
    z-index: -1;
}

.cursor-grow {
    transform: scale(2);
    background-color: #000000;
}

.hovered-word {
    color: #ffffff;
    filter: none !important;
}

.hidden-word {
    position: absolute;
    top: 20px;
    left: 15px;
    color: #ffffff;
    display: inline-block;
}
